# regular_expression_project

In [137]:
import re
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd  
import numpy as np

# question 1

1. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [138]:
def replace_characters(input_text):
    pattern = r'[ ,.]'
    replacement = ':'
    
    result = re.sub(pattern, replacement, input_text)
    return result

In [139]:
replace_characters('Python Exercises, PHP exercises.')

'Python:Exercises::PHP:exercises:'

# question 2

2. Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [140]:
def clean_text(text):
    cleaned_text = re.sub(r'[^a-z ]', '', text)
    return cleaned_text

In [141]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(data)

df['SUMMARY'] = df['SUMMARY'].apply(clean_text)

print(df)

         SUMMARY
0    hello world
1           test
2  four five six

# question 3

3. Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [142]:
def find_long_words(input_string):
    
    pattern = re.compile(r'\b\w{4,}\b')
    
    matches = pattern.findall(input_string)
    
    return matches

In [143]:
input_text = "This is a sample string with some words of varying lengths."
result = find_long_words(input_text)

print("Sample Text: ", input_text)
print("output:", result)

Sample Text:  This is a sample string with some words of varying lengths.
output: ['This', 'sample', 'string', 'with', 'some', 'words', 'varying', 'lengths']

# question 4

4. Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [144]:
def find_3_4_5_words(input_string):
    
    pattern = re.compile(r'\b\w{3,5}\b')
    
    matches = pattern.findall(input_string)
    
    return matches

In [145]:
input_text = "This is a sample string with some words and nothing of varying lengths."
result = find_3_4_5_words(input_text)

print("Sample Text: ", input_text)
print("output:", result)

Sample Text:  This is a sample string with some words and nothing of varying lengths.
output: ['This', 'with', 'some', 'words', 'and']

# question 5

5.  Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World

In [146]:
def remove_parentheses(strings_list):
    pattern = re.compile(r'\(|\)')

    result = [pattern.sub('', s) for s in strings_list]

    return result

In [147]:
input_strings = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(input_strings)

print("Sample Text: ", input_strings)
print("output:", result)

Sample Text:  ['example (.com)', 'hr@fliprobo (.com)', 'github (.com)', 'Hello (Data Science World)', 'Data (Scientist)']
output: ['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

# question 6

6. Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [148]:
def remove_parenthesis_area(file_path):
    try:
        with open(file_path, 'r') as file:
            # Read the content of the file
            file_content = file.read()

            # Define a compiled regular expression pattern for parentheses and their contents
            pattern = re.compile(r'\([^)]*\)')

            # Remove parenthesis area from the text
            cleaned_text = pattern.sub('', file_content)

        # Write the cleaned text back to the file
        with open(file_path, 'w') as file:
            file.write(cleaned_text)

        print(f"Parenthesis area removed from {file_path}")

    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred: {e}")

In [149]:
file_path = 'sample_text.txt'  # Replace with the actual path to your text file
remove_parenthesis_area(file_path)

Parenthesis area removed from sample_text.txt

# question 7

Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [150]:
sample_text = "ImportanceOfRegularExpressionsInPython"

# Define a regular expression to split the string at uppercase letters
pattern = re.compile(r'(?=[A-Z])')

# Use re.split to split the string
result = pattern.split(sample_text)

# Remove empty strings from the result
result = [word for word in result if word]

print("Sample Text:", sample_text)
print("Expected Output:", result)

Sample Text: ImportanceOfRegularExpressionsInPython
Expected Output: ['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# question 8

8. Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [151]:
def insert_spaces_between_numbers(text):
    # Define a regular expression to identify words starting with numbers
    pattern = re.compile(r'(?<=[a-zA-Z])(\d)')

    # Use re.sub to insert spaces between words starting with numbers
    result = pattern.sub(r' \1', text)

    return result

In [152]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
result = insert_spaces_between_numbers(sample_text)

print("Sample Text:", sample_text)
print("Expected Output:", result)

Sample Text: RegularExpression1IsAn2ImportantTopic3InPython
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

# question 9

9. Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [153]:
def insert_spaces_between_caps_and_numbers(text):
    # Define a regular expression to identify words starting with capital letters or numbers
    pattern = re.compile(r'(?<=[a-zA-Z\d])([A-Z\d])')

    # Use re.sub to insert spaces between words starting with capital letters or numbers
    result = pattern.sub(r' \1', text)

    return result

In [154]:
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
result = insert_spaces_between_caps_and_numbers(sample_text)

print("Sample Text:", sample_text)
print("Expected Output:", result)

Sample Text: RegularExpression1IsAn2ImportantTopic3InPython
Expected Output: Regular Expression 1 Is An 2 Important Topic 3 In Python

# question 10

10.  Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [155]:
github_link = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"

# Read the data into a DataFrame
df = pd.read_csv(github_link)

# Display the DataFrame 
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [156]:
# Extract the first 6 letters of each country and store in a new column
df['first_five_letters'] = df['Country'].str[:6]

# Display the DataFrame with the new column
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

# question 11

11. Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [157]:
def match_string(input_string):
    # Define a regular expression pattern
    pattern = re.compile(r'^[a-zA-Z0-9_]+$')

    # Use re.match to check if the string matches the pattern
    if pattern.match(input_string):
        return True
    else:
        return False

In [158]:
match_string("Hello123")

True

In [159]:
match_string("Good@123")

False

# question 12

12. Write a Python program where a string will start with a specific number.

In [160]:
def starts_with_number(input_string, specific_number):
    # Define a regular expression pattern
    pattern = re.compile(f'^{specific_number}')

    # Use re.match to check if the string starts with the specific number
    if pattern.match(input_string):
        return True
    else:
        return False

In [161]:
starts_with_number('123raja',123)

True

In [162]:
starts_with_number('123raja',234)

False

# question 13

13. Write a Python program to remove leading zeros from an IP address

In [163]:
def remove_leading_zeros(ip_address):
    # Define a regular expression pattern to match and remove leading zeros
    pattern = re.compile(r'\b0+(\d+)\b')

    # Use re.sub to replace leading zeros with the captured digits
    result = pattern.sub(r'\1', ip_address)

    return result

In [164]:
ip_address_with_zeroes = "192.001.012.003"
output_without_zeroes = remove_leading_zeros(ip_address_with_zeroes)

print("Original IP Address:", ip_address_with_zeroes)
print("IP Address without Leading Zeros:", output_without_zeroes)

Original IP Address: 192.001.012.003
IP Address without Leading Zeros: 192.1.12.3

# question 14

14. Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [165]:
def extract_date_from_text(file_path):
    try:
        # Read the content of the file
        with open(file_path, 'r') as file:
            file_content = file.read()

            # Define a regular expression pattern to match the date format
            pattern = re.compile(r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b')

            # Use re.search to find the first match
            match = pattern.search(file_content)

            if match:
                return match.group()
            else:
                return None

    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred: {e}")

In [166]:
file_path = open("sample_text2.txt", "r+")

file_path.write('On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.')
result = extract_date_from_text(file_path)

print("Extracted Date:", result)

An error occurred: expected str, bytes or os.PathLike object, not TextIOWrapper
Extracted Date: None

In [167]:
file_path = open("sample_text3.txt", "r+")

file_path.write('On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.')

154

# question 15

15. Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [168]:
def search_strings_regex(text, searched_words):
    results = {}

    for word in searched_words:
        pattern = re.compile(r'\b' + re.escape(word) + r'\b')
        results[word] = bool(re.search(pattern, text))

    return results

In [169]:
sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

results = search_strings_regex(sample_text, searched_words)

for word, found in results.items():
    if found:
        print(f'The word "{word}" is present in the text.')
    else:
        print(f'The word "{word}" is not present in the text.')

The word "fox" is present in the text.
The word "dog" is present in the text.
The word "horse" is not present in the text.

# question 16

16. Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [170]:
def search_string_location(text, searched_word):
    pattern = re.compile(re.escape(searched_word))
    match = re.search(pattern, text)

    if match:
        start_index = match.start()
        end_index = match.end()

        print(f'The word "{searched_word}" is present in the text.')
        print(f'The pattern starts at index {start_index} and ends at index {end_index}.')
    else:
        print(f'The word "{searched_word}" is not present in the text.')

In [171]:
sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_word = 'fox'

search_string_location(sample_text, searched_word)

The word "fox" is present in the text.
The pattern starts at index 16 and ends at index 19.

In [172]:
sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_word = 'boar'

search_string_location(sample_text, searched_word)

The word "boar" is not present in the text.

# question 17

17. Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [173]:
def find_substrings(text, pattern):
    matches = re.finditer(pattern, text)

    for match in matches:
        start_index = match.start()
        end_index = match.end()

        print(f'Found substring "{text[start_index:end_index]}" at position {start_index}-{end_index}.')

In [174]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

find_substrings(sample_text, pattern)

Found substring "exercises" at position 7-16.
Found substring "exercises" at position 22-31.
Found substring "exercises" at position 36-45.

# question 18

18. Write a Python program to find the occurrence and position of the substrings within a string.

In [175]:
def find_occurrences_and_positions(text, pattern):
    matches = re.finditer(pattern, text)
    
    occurrences = []
    for match in matches:
        start_index = match.start()
        end_index = match.end()
        occurrences.append((text[start_index:end_index], start_index, end_index))

    return occurrences

In [176]:
sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

result = find_occurrences_and_positions(sample_text, pattern)

if result:
    print(f'Occurrences of "{pattern}" in the text:')
    for substring, start, end in result:
        print(f'Found "{substring}" at position {start}-{end}.')
else:
    print(f'No occurrences of "{pattern}" found in the text.')

Occurrences of "exercises" in the text:
Found "exercises" at position 7-16.
Found "exercises" at position 22-31.
Found "exercises" at position 36-45.

# question 19

19.  Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [177]:
def convert_date_format(input_date):

    pattern = re.compile(r'(\d{4})-(\d{2})-(\d{2})')

    converted_date = re.sub(pattern, r'\3-\2-\1', input_date)

    return converted_date

In [178]:
input_date = '2023-12-15'
converted_date = convert_date_format(input_date)

print(f'Original date: {input_date}')
print(f'Converted date: {converted_date}')

Original date: 2023-12-15
Converted date: 15-12-2023

# question 20

20. Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [179]:
def find_decimal_numbers(text):

    pattern = re.compile(r'\b\d+(\.\d{1,2})?\b')

    decimal_numbers = pattern.findall(text)

    return decimal_numbers

In [180]:
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
result = find_decimal_numbers(sample_text)

print("Sample Text:", sample_text)
print("Decimal Numbers with Precision of 1 or 2:", result)

Sample Text: 01.12 0132.123 2.31875 145.8 3.01 27.25 0.25
Decimal Numbers with Precision of 1 or 2: ['.12', '', '', '', '', '.8', '.01', '.25', '.25']

# question 21

21. Write a Python program to separate and print the numbers and their position of a given string.

In [181]:
def find_numbers_and_positions(text):

    pattern = re.compile(r'\b\d+\b')

    matches = [(match.group(), match.start(), match.end()) for match in pattern.finditer(text)]

    return matches

In [182]:
sample_text = "The price of the product is Rs. 55.78 and the quantity is 3."
result = find_numbers_and_positions(sample_text)

print("Sample Text:", sample_text)
print("Numbers and Their Positions:")
for number, start, end in result:
    print(f'Number: {number}, Position: {start}-{end}')

Sample Text: The price of the product is Rs. 55.78 and the quantity is 3.
Numbers and Their Positions:
Number: 55, Position: 32-34
Number: 78, Position: 35-37
Number: 3, Position: 58-59

# question 22

22. Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [183]:
def extract_maximum_numeric_value(text):

    pattern = re.compile(r'\b\d+\b')

    numeric_values = [int(match) for match in pattern.findall(text)]

    if numeric_values:
        max_value = max(numeric_values)
        return max_value
    else:
        return None

In [184]:
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
max_numeric_value = extract_maximum_numeric_value(sample_text)

if max_numeric_value is not None:
    print(f"Sample Text: {sample_text}")
    print(f"Maximum Numeric Value: {max_numeric_value}")
else:
    print("No numeric values found in the text.")

Sample Text: My marks in each semester are: 947, 896, 926, 524, 734, 950, 642
Maximum Numeric Value: 950

# question 23

23. Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [185]:
def insert_spaces(text):

    spaced_text = re.sub(r'([a-z])([A-Z])', r'\1 \2', text)

    spaced_text = spaced_text.capitalize()

    return spaced_text

In [186]:
sample_text = "RegularExpressionIsAnImportantTopicInPython"
result = insert_spaces(sample_text)

print("Sample Text:", sample_text)
print("Output with Spaces:", result)

Sample Text: RegularExpressionIsAnImportantTopicInPython
Output with Spaces: Regular expression is an important topic in python

# question 24

24. Python regex to find sequences of one upper case letter followed by lower case letters

In [187]:
def find_sequences(text):
    pattern = re.compile(r'\b[A-Z][a-z]+\b')
    sequences = pattern.findall(text)
    return sequences

In [188]:
sample_text = "The Quick Brown Fox Jumps Over The Lazy Dog"
result = find_sequences(sample_text)

print("Sample Text:", sample_text)
print("Sequences:", result)

Sample Text: The Quick Brown Fox Jumps Over The Lazy Dog
Sequences: ['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'Over', 'The', 'Lazy', 'Dog']

# question 25

25.  Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [189]:
def remove_continuous_duplicates(sentence):

    cleaned_sentence = re.sub(r'\b(\w+)(\s+\1)+\b', r'\1', sentence)

    return cleaned_sentence

In [190]:
sample_text = "Hello hello world world"
result = remove_continuous_duplicates(sample_text)

print("Original Sentence:", sample_text)
print("Output after removing continuous duplicates:", result)

Original Sentence: Hello hello world world
Output after removing continuous duplicates: Hello hello world

# question 26

26. Write a python program using RegEx to accept string ending with alphanumeric character.

In [191]:
def ends_with_alphanumeric(input_string):

    pattern = re.compile(r'\w$')

    match = re.search(pattern, input_string)

    return bool(match)

In [192]:
test_string1 = "Hello123"
test_string2 = "World!"
test_string3 = "12345"

print(f'{test_string1} ends with alphanumeric: {ends_with_alphanumeric(test_string1)}')
print(f'{test_string2} ends with alphanumeric: {ends_with_alphanumeric(test_string2)}')
print(f'{test_string3} ends with alphanumeric: {ends_with_alphanumeric(test_string3)}')

Hello123 ends with alphanumeric: True
World! ends with alphanumeric: False
12345 ends with alphanumeric: True

# question 27

27. Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [193]:
def extract_hashtags(text):

    pattern = re.compile(r'#\w+')

    hashtags = pattern.findall(text)

    return hashtags

In [194]:
sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

result = extract_hashtags(sample_text)

print("Sample Text:", sample_text)
print("Extracted Hashtags:", result)

Sample Text: RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo
Extracted Hashtags: ['#Doltiwal', '#xyzabc', '#Demonetization']

# question 28

28. Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [195]:
def remove_symbols(text):

    pattern = re.compile(r'<U\+\w+>')

    cleaned_text = re.sub(pattern, '', text)

    return cleaned_text

In [196]:
sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

result = remove_symbols(sample_text)

print("Sample Text:", sample_text)
print("Output after removing symbols:", result)

Sample Text: @Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders
Output after removing symbols: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# question 29

29. Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [197]:
def extract_dates_from_file(file_path):

    with open(file_path, 'r') as file:
        text = file.read()

    date_pattern = re.compile(r'\b(\d{2}-\d{2}-\d{4})\b')

    dates = date_pattern.findall(text)

    return dates

In [198]:
file_path = 'sample_text.txt'
sample_text = "Raja was born on 11-12-1992 and he has completed the school on 15-06-2008."

with open(file_path, 'w') as file:
    file.write(sample_text)

result_dates = extract_dates_from_file(file_path)

print("Sample Text:", sample_text)
print("Extracted Dates:", result_dates)

Sample Text: Raja was born on 11-12-1992 and he has completed the school on 15-06-2008.
Extracted Dates: ['11-12-1992', '15-06-2008']

# question 30

30. Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [199]:
def remove_words_of_length_between_2_and_4(input_text):

    pattern = re.compile(r'\b\w{2,4}\b')

    cleaned_text = re.sub(pattern, '', input_text)

    return cleaned_text

In [200]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

result = remove_words_of_length_between_2_and_4(sample_text)

print("Sample Text:", sample_text)
print("Output after removing words of length 2 to 4:", result)

Sample Text: The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.
Output after removing words of length 2 to 4:  following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.